.container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.product{
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product:hover{
    cursor: pointer;
    color: red;
}

.product img{
    width: 40%;
    height: 60%;
}