
.container{
    background-color: #6c6c6c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    background: #868686;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    padding: 25px 0;
}
.container > div {
    margin-right: 1rem;
}

.firstcolumn .title > div , .firstcolumn .contractinfo > div{
    font-weight: bold;
    color: rgb(30, 30, 30);
    font-size: 0.625rem;
}
.secondcolumn .footnav > ul ,.thirdcolumn .accountnav > ul {
    list-style: none;
    font-weight: bold;
    color: white;
}
.secondcolumn .footnav .navigation > li a , 
.thirdcolumn .accountnav .navigation > li a { 
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.625rem;
}
.secondcolumn .footnav > ul, .thirdcolumn .accountnav > ul{
    padding-left: 0;
}
.forthcolumn .socialmedia{
    display: block;
}
.forthcolumn .title,
.forthcolumn .socialmedia div > a{
    color: white;
    font-weight: bold;
}
.firstcolumn,.forthcolumn{
    margin-top: 1rem;
}

.firstcolumn .contractinfo{
    margin-top: 4rem;
}

/* @media screen and (max-width:480px){

        .container {
            background: #868686;
            color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
        }
        .secondcolumn .footnav .navigation > li a , 
        .thirdcolumn .accountnav .navigation > li a { 
            display:none;
        }

        .firstcolumn .title > div , .firstcolumn .contractinfo > div{
            display: none;
        }
        .secondcolumn .footnav > ul ,.thirdcolumn .accountnav > ul {
            display: none;
        }

} */