.container{
    display: flex;
    flex-direction: column;
}

.topSell{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25rem;
    height: 10rem;
}

.topSell .bestsell {
    width: 80%;
    height: 80%;
    margin-right: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestsell img{
    width: 60%;
    height: 80%;
}

.containerProduct{
    text-align: center;
}
.containerProduct img{
    width: 60%;
    height: 80%;
}

.bestsell .labelname{
    font-size: 0.625rem;
    font-weight: bold;
}

.categories{
    width: 25rem;
    height: 30rem;
}

.categories .categorybar .categoryChoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.categoryChoice:hover , .bestsell:hover, .product:hover{
    cursor: pointer;
    color: red;
}

.categorybar{
    display: grid;
    grid-template-columns: auto auto auto;
}
.categoryChoice img{
    width: 60%;
    height: 80%;
}

.showProduct{
    width: 25rem;
    height: 40rem;
    display: grid;
    grid-template-columns: auto auto ;
}