nav{
    background-color: #f1f1f1;
}

.Navmenu{
    display: flex;
    position: relative;
}
.Navmenu li{
    margin: 1.775rem 0rem 1.775rem 6rem;
    list-style: none;
}
.Navmenu li, .Navmenu li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.625rem;
}
.navlink{
    display: flex;
    margin-left: 1.25rem;
}

.Navmenu .categoryMenu{
    display: flex;
    margin: 0rem;
    color: hsl(0, 0%, 0%);
    padding: 1.5rem .625rem;
    position: absolute;
}

.dropdownmenu li {
    padding: 1rem;
    list-style: none;
    background-color: #f1f1f1;
    font-size: 0.625rem;
    
}
.dropdownmenu li > a{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

.dropdownmenu{
    position: absolute;
    top: 11rem;
}

.accountmanage{
    display: flex;
}

@media screen and (min-width: 768px) {
    .Navmenu li{
        margin-left: 8rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.813rem;
    }

    .dropdownmenu{
        top: 11rem;
    }
}

@media screen and (min-width: 1024px) {
    .Navmenu li{
        margin-left: 12rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.813rem;
    }

    .dropdownmenu{
        top: 11rem;
    }
}

@media screen and (min-width: 1920px) {
    .Navmenu li{
        margin-left: 20rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.938rem;
    }
}


