nav{    
    background: #c0c0c0;
    margin: 0 auto;
    height: 80px;
}

.Navmenu {
    display: flex;
    margin-left: 2rem;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-right: 6rem;
}

.navlink {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-right: 5rem ;
}

.navlink > li {
    display: flex;
    padding-right: 2rem ;
}

a {
    color: black;
}
.categoryMenu {
    display:flex;
}

.mobileMenu {
    display:none;
    padding-left: 6rem;
}


.categoryMenu > a {
    cursor: pointer;
}

.dropdownmenu > li{
    padding: 1rem;
    list-style: none;
    background-color: #c0c0c0;
}
.dropdownmenu li > a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.dropdownmenu{
    position: absolute;
    top: 12rem;
}

.accountmanage{
    display: flex;
}


@media screen and (max-width:480px) {
    .Nav {
        background: #c0c0c0;
        margin: 0 auto;
    }
    .Navmenu {
        display: flex;
        height: 80px;
        padding-right: 2rem ;
        
    }
    
    .navlink {
        display: flex;
        height: 80px;
        list-style-type: none;
    }

    .navlink > li {
        padding-left: 2rem;
        font-size: 14px;
    }

    .categoryMenu > a {
        display:none;
    }

    .mobileMenu {
        display: contents;
        color: black;
    }

    /* .accountmanage {
        display:flex;
        justify-content: right;
    } */

}

/* @media screen and (min-width: 1024px) {
    .Navmenu li{
        margin-left: 12rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.813rem;
    }

    .dropdownmenu{
        top: 11rem;
    }
}

@media screen and (min-width: 1920px) {
    .Navmenu li{
        margin-left: 20rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.938rem;
    }
} */


