.container{
    display: flex;
}

.usercontent{
    margin-right: 2.5rem;
}
.userdetailed, .addressdetailed{
    display: flex;
}

.detailed{

}

.showpayment > img {
    width: 10rem;
    height: 10rem;
}

.fulladdress{
    text-align: center;
    margin-top: 0.625rem;
}

.paymentdetailed > hr{
    border-top: 1px dashed ;
}

.paymentchoices > form{
    background-color: #D9D9D9;
}