@media screen and (min-width:481px) {
    .container{
        border: 5rem 2rem;
        padding-left: 21%;
        display: flex;
    }
    
    .usercontent{
        /* margin-right: 2.5rem; */
    }
    .userdetailed, .addressdetailed{
        display: flex;
        justify-items: auto;
    }
    
    .detailed{
        padding: 0.5rem;
    }
    
    .detailed > input {
        font-size: 16px;
    }

    .showpayment > img {
        width: 20rem;
        height: 25rem;
    }
    
    .fulladdress{
        /* text-align: center; */
        margin-top: 0.625rem;
    }
    
    .addressdetailed > input{
        padding: 2rem;
        width: 50%;
    }
    
    .paymentdetailed > hr{
        border-top: 1px dashed ;
    }

    .secondSection {
        padding-top: 2rem;
        padding-left: 3rem;
    }
}



@media screen and (max-width:480px) {
    .container {
        border: 2rem 2rem;
        display: block;
    }

    .secondSection {
        padding-top: 2rem;
    }

    .showpayment {
        padding-top: 1rem;
    }

    .detailed > input {
        border: rgb(189, 189, 189) solid;
        border-width: 0.2px;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    .header , .title {
        padding-bottom: 1rem;
    }
    .paymentdetailed {
        padding-bottom: 0.5rem;
    }

    .showpayment {
        padding-bottom: 5rem;
    }

    .choice {
        padding: 0.5rem;
    }

    .choice > label {
        padding: 1rem;
    }

    .choice > input {
        background-color: #eee;
        border-radius: 50%;
    }
} 
