.container{
    display: flex;
}

.container > div {
    margin: 0.625rem;
}

.inputSearch{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 5rem;
}
