.container{
    display: flex;
}

.container > div {
    margin: 0.625rem;
}

.inputSearch{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.inputSearch input {
    width: 40rem;
    height: 40px;
    padding: 0.5rem 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 25px;
    border-color: palevioletred;
    border-width: 0.1rem;
    outline: none;
} 

.inputSearch button {
    font-family: 'Poppins', sans-serif;
    padding: 0.75rem;
    border-width: 0.1rem;
    margin: 1.5rem;
    border-radius: 25px;
}

.logo {
    width: 5rem;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    /* button {
        display: none;
    } */

    .inputSearch{
        width: 100%;
        display: flex;
        justify-content: center; 
    }

    .inputSearch input {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.5rem 1rem;
        margin: 0;
        box-sizing: border-box;
        border-radius: 25px;
        border-style: groove;
        border-width: 0.1rem;
        outline: none;
        border-color: rgb(172, 172, 172);
    }
    .searchBtn  {
        padding: 0.5rem 2rem;
    }

    .searchBtn > button {
        font-family: 'Poppins', sans-serif;
        border: none;
        background-color: pink;
        border-radius: 25px;
        padding:0.5rem;
    }

}