
.productdetail{
    display: flex;
    justify-content: center;
    width: 35rem;
    height: 20rem;
    margin-bottom: .625rem;
}
.productimage{
    width: 100%;
    height: 100%;
}
.productimage img{
    width: 60%;
    height: 100%;
    margin-right: 6.25rem;
}
.productdetail .detailes{
    /* display: flex; */
    text-align: center;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 60%;
}

.detailes, .description{
    background-color: #efeded;
}
.description{
    margin-bottom: 3.125rem;
}

.addtocart {
    margin-top: 0.625rem;
    background-color: pink;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.productall .oterproduct > img:first-child {
    padding-left: 0;
}

.productall {
    display: flex;
}

.oterproduct > img{
    display: flex;
    padding: 0.5rem;
    border: 1.5rem;
    width: 7rem;
    height: 10rem;
}
 
@media screen and (max-width:480px) {

    .productdetail{
        display: flex;
        justify-content: center;
        width: 35rem;
        height: 20rem;
        margin-bottom: .625rem;
    }

    .productimage img{
        padding-left: 3.5rem;
        width: 100%;
        height: 100%;
    }

    .detailes {
        padding-right:2rem;
    }

    .detailes > div {
        display: flex;
        padding: 0.5rem;
        /* padding-left : 1rem; */
        /* justify-content: left; */
        
    }

    .detailesproduct {
        display: flex;
        justify-content: center;
    }

    .numofproduct > input {
        display: flex;
        justify-content: center;
    }

    .addtocart {
        font-size: 11px;
        height: auto;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        background-color: palevioletred;
        width: fit-content;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
    }

    .detailes > .addtocart {
        align-items: center;
    }

    .description {
        padding: 2rem 5rem;
    }

    .otherproduct > div {
        padding-left: 2rem;
    }

    .productall > .oterproduct{
        padding-top: 1rem;
        padding-left: 0.5rem;
        justify-content: center;
    }

    .otherheader > div {
        padding-left: 0.6rem;
    }
}
