.productdetail{
    display: flex;
    width: 35rem;
    height: 20rem;
    margin-bottom: .625rem;
}
.productdetail img{
    width: 40%;
    height: 100%;
    margin-right: 6.25rem;
}
.productdetail .detailes{
    /* display: flex; */
    text-align: center;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 60%;
}

.detailes, .description{
    background-color: #D9D9D9;
}
.description{
    margin-bottom: 3.125rem;
}

.addtocart {
    margin-top: 0.625rem;
    background-color: pink;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.productall .otherproductimage:first-child {
    padding-left: 0;
}

.productall {
    display: flex;
}

.otherproductimage {
    display: flex;
    padding: 0.5rem;
    border: 1.5rem;
    width: 7rem;
    height: 10rem;
}


