.signup {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
}

.signuptopic {
    margin: 10px;
    text-align: center;
}

.signupform {
    padding: auto;
    background-color: rgb(223, 179, 179);
    border-radius: 5px;
}

label {
    text-align: center;
}
.signupcontainer > div {
    margin: 20px;
    padding: 6px;
    border-radius: 4px;
}

.signupcontainer {
    margin: 3px;
}

.signup-component, .signupcontainer div > input  {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border-width: 0.1rem;
    
}

.signup-header {
    width: 300px;
    border: none;
}

.signup-input {
    width: 300px;
    border: none;
}

.btncontainer button {
    background-color: rgb(27, 98, 139);
    border: none;
    color: white;
    padding: 15px 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btncontainer {
    display: flex;
    justify-content: center;
}

.message{
    color: green;
    font-weight:  bold;
    text-align: center;
    margin-top: 1rem;
}

.signinref{
    font-size: 0.688rem;
    text-align: center;
}
.signinref a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}



@media screen and (max-width:480px) {
    .signup {
        display: block;
        justify-content: center;
    }
    
    .signuptopic {
        margin: 10px;
        text-align: center;
    }
    
    .signupform {
        padding: 2rem 4rem;
        background-color: rgb(223, 179, 179);
        border-radius: 25px;
    }
    
    label {
        text-align: center;
    }

    .signupcontainer > div {
        margin: 20px;
        padding: 6px;
        border-radius: 4px;
    }
    
    .signupcontainer {
        margin: 3px;
    }
    
    .signup-component, .signupcontainer div > input  {
        padding: 0.5rem 1rem;
        border-radius: 25px;
        border-width: 0.1rem;
        
    }
    
    .signup-header {
        width: 300px;
        border: none;
    }
    
    .signup-input {
        width: 300px;
        border: none;
    }

    .btncontainer > button {
        display: block;
        justify-content: center;
        height: 45px;
        align-items: center;
        color: rgb(0, 0, 0);
        background-color: pink;
        border-width: 0.2rem;
        border-radius: 20px;
        cursor: pointer;
        padding: 0.5rem 2rem;
    }
    
    .message{
        color: green;
        font-weight:  bold;
        text-align: center;
        margin-top: 1rem;
    }
    
    .signinref{
        font-size: 0.688rem;
        text-align: center;
        padding-bottom: 2rem;
    }
    .signinref a{
        text-decoration: none;
        font-weight: bold;
        color: black;
        padding-right: 0.5rem;
    }

    .signupinput > div {
        padding-bottom: 1rem;
    }
    
}
