
.container{
    width: 20.75rem;
    height: 25.75rem;
    background-color: pink;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.inputForm{
    text-align: center;
}

.inputForm > div{
    margin-bottom: 2.188rem;
}
.title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1.563rem;
}

.signupref{
    font-size: 0.688rem;
}
.signupref a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.emailInput > input {
    display: flex;
    height: 50;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 25px;
    border-width: 0.1rem;
}

.passwordInput > input {
    display: flex;
    height: 50;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 25px;
    border-width: 0.1rem;
}

.emailInput , .passwordInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinbtn  {
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding:0.5rem;
    border-radius: 25px;
    border-style: groove;
    border-width: 0.1rem;
}