nav{
    background-color: #D9D9D9;
}

.Navmenu{
    display: flex;
    position: relative;
}
.Navmenu li{
    margin: 1.875rem 0rem 1.875rem 6rem;
    list-style: none;
}
.Navmenu li, .Navmenu li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.625rem;
}

.Navmenu .categoryMenu{
    margin: 0rem;
    color: white;
    background-color: #1B1B45;
    padding: 1.875rem .938rem;
}

.dropdownmenu li{
    padding: 1rem;
    list-style: none;
    background-color: #1B1B45;
}
.dropdownmenu li > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.categoryMenu{
    position: absolute;
    left: 0;
}

.dropdownmenu{
    position: absolute;
    top: 4.7rem;
    left: -2.4rem;
}

.accountmanage{
    display: flex;
}



@media screen and (min-width: 768px) {
    .Navmenu li{
        margin-left: 8rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.813rem;
    }

    .Navmenu .categoryMenu{
        padding-left: 1.876rem;
        padding-right: 1.876rem;
    }

    .dropdownmenu{
        top: 6rem;
    }
}

@media screen and (min-width: 1024px) {
    .Navmenu li{
        margin-left: 12rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.813rem;
    }

    .Navmenu .categoryMenu{
        padding-left: 1.876rem;
        padding-right: 1.876rem;
    }

    .dropdownmenu{
        top: 6rem;
    }
}

@media screen and (min-width: 1920px) {
    .Navmenu li{
        margin-left: 20rem;
    }

    .Navmenu li, .Navmenu li > a{
        font-size: 0.938rem;
    }
}


