.signup {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.signup-topic {
    margin: 10px;
    text-align: center;
}

.signup-form {
    padding: auto;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

label {
    text-align: center;
}
.signup-component {
    margin: 10px;
    padding: 6px;
    border: 1px black solid;
    border-radius: 4px;
}

.signup-container {
    margin: 3px;
}

.signup-component, .signup-input  {
    background-color: rgb(209, 209, 209);
}

.signup-header {
    width: 300px;
    border: none;
}

.signup-input {
    width: 300px;
    border: none;
}

button {
    background-color: rgb(27, 98, 139);
    border: none;
    color: white;
    padding: 15px 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}
