* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
}
.navbar{
    
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.625rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}