.container{
    display: flex;
    flex-direction: column;
}
.navbar{
    
}
.content{
    display: flex;
    justify-content: center;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}